.bg-comic-dots {
    background-image: radial-gradient(#ef4444 1px, transparent 1px);
    background-size: 15px 15px;
}

body.mode-heroes {
    font-family: "Comic Neue", cursive;
    background-color: #111827;
}

body.mode-heroes h1 {
    font-family: "Bangers", cursive;
    color: #ef4444;
}

body.mode-places {
    font-family: "Noto Sans", sans-serif;
    background-color: #0f172a;
}

body.mode-places h1 {
    font-family: "Be Vietnam Pro", sans-serif;
    color: #38bdf8;
}

.comic-shadow {
    box-shadow: 8px 8px 0px 0px #000;
}

.nature-shadow {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.transition-all-custom {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}